# Ignore Python bytecode files
*.pyc

# Ignore environment configuration files
.env

# Ignore virtual environment directories
venv/
env/

# Ignore IDE files
.vscode/
.idea/

# Ignore log files
*.log

# Ignore cache directories
__pycache__/
